.landing-page-container {
    background-image: url('../Images/single-parent.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  .landing-page-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .landing-page-container p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .landing-page-container .btn {
    display: right;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .landing-page-container .btn:hover {
    background-color: #0056b3;
  }
  